.location_page {
  min-height: 100vh;
  background-color: #fff;
}

.location_page_content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 36px 38px 56px;
}

.location_listings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  color: #ff385c;
}
